@font-face {
  font-family: Dear-Sunshine;
  src: url(./assets/DearSunshine-Rp0q3.ttf) format("truetype");
}

.App {
  
  display: flex;
  flex-direction: column;
}

.app-header {
  position: fixed;
  background-color: #282c34;
  width: 97vw;
  height: 7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 2vw;
  color: white;
}

.nav-link {
  padding: 1vw;
  text-decoration: none;
  color: white;
}

.inside {
  background-color: #282c34;
  color: white;
  font-size: 2vw;
  text-align: center;
  width: 100vw;
  padding-top: 7vw;
  height: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hello {
  font-size: 10vw;
  font-family: Dear-Sunshine;
  max-height: 10vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.neele-face {
  width: 20vw;
  height: 20vw;
  align-self: center;
  border-radius: 30%;
}

